@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500&family=Open+Sans:wght@400;500&family=Ubuntu&family=Work+Sans:wght@300;400;500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #070f24;
opacity: 0.8;
background-image:  radial-gradient(#B97CFD 0.9px, transparent 0.9px), radial-gradient(#B97CFD 0.9px, #070f24 0.9px);
background-size: 36px 36px;
background-position: 0 0,18px 18px;
}