@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500&family=Open+Sans:wght@400;500&family=Ubuntu&family=Work+Sans:wght@300;400;500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
<<<<<<< HEAD


@media screen and (max-width:1200px) {
  html{
    font-size: 15px;
  }
}
@media screen and (max-width:765px) {
  html{
    font-size: 14px;
  }
}
@media screen and (max-width:550px) {
  html{
    font-size: 13px;
  }
}
@media screen and (max-width:430px) {
  html{
    font-size: 12px;
  }
}
@media screen and (max-width:390px) {
  html{
    font-size: 11px;
  }
}
=======
/* body{
  background-color: #070f24;
opacity: 0.8;
 background-image:  radial-gradient(#B97CFD 0.9px, transparent 0.9px), radial-gradient(#B97CFD 0.9px, #070f24 0.9px); 
background-size: 36px 36px;
background-position: 0 0,18px 18px;
} */
>>>>>>> d61c49811366a2f22811cc3e81c8d2c2532de95b
